<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
    <section id="auth-section">
        <div class="auth-container"> 
            <form id="register-form" action="{{ url_for('signup') }}" method="POST">
                <h2>Register</h2>
                <input type="text" name="username" placeholder="Full Name" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit" class="btn">Register</button>
                <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a>.</p>
            </form>
        </div>
    </section>
</body>
</html>
